
@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  
@keyframes fadeInFormRight {
  from {
    opacity: 0;
    transform: translateX(20%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes inputGrow {
  from {
    width: 0;
  }
}

@keyframes socialScale {
  0% {
    width: 100%;
    height: 100%;
  }

  70% {
    width: 112.5%;
    height: 112.5%;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes rulesBullet {
  0% {
    color: transparent;
    transform: scale(0);
  }

  30% {
    color: transparent;
  }

  100% {
    transform: scale(1);
  }
}


@keyframes rulesText {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rulesLink {
  from {
    opacity: 0;
    width: 0;
    color: transparent;
  }
  70% {
    color: transparent;
  }
  to {
    width: 18rem;
  }
}